{% extends "base.html" %}

{% block content %}
{{ super() }}

<p>Трек-дни - это дни открытых дверей на гоночной трассе, организованные клубами или администрацией автодрома. Любой желающий может приехать на трассу, чтобы в реальных гоночных условиях попробовать свои силы и раскрыть потенциал своего или арендованного автомобиля. Количество участников ограниченно, трасса полностью открыта, риск лишиться водительского удостоверения за превышение скорости - отсутствует</p>

{% endblock content %}
